* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}


body {
  display: grid;
  place-content: center;
  /* place-items: center; */
  height: 100vh;
}

#app {
  width: 550px;
  height: 600px;
  border: 2px solid #212121;
  padding: 20px;
}