
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Alkalami', serif;
}


body {
  display: grid;
  place-content: center;
  /* place-items: center; */
  height: 100vh;
  background-color: rgb(63, 172, 172);
}

#display-todos ul {
list-style-type: none;
}

#app {
  width: 750px;
  height: 600px;
  border: 2px solid #212121;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 8px;
}


.progress-bar {
  width: 100px;
  height: 20px;
  background-color: red;
  color: black;
}